@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: #c6dfe4;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow-x: hidden;
}

.principal {
    width: auto;
    height: auto;
    background-color: #3a474f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;

}

.result {
    color: #ccd2d6;
    font-size: 2.1vw;
    text-align: right;
    width: auto;
    word-wrap: break-word;
}

.display {
    height: auto;
    width: auto;
    background-color: #3f4e55;
    margin-top: 15px;
    padding: 2vh;
    min-height: 8vh;
}

.keyBoard {
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

table tr td button {
    width: 5vw;
    height: 5vw;
    background: #3f4e55;
    color: #ccd2d6;
    border-style: none;
    cursor: pointer;
    font-size: 1.7vw;
    font-weight: 500;
    border-radius: 3px;
    margin: 2px;
}

.btn#ACbtn {
    color: #e77942;
}

.btn:hover {
    background: rgb(72, 84, 90)
}

@media screen and (max-width : 768px) {

    .principal {
        width: auto;
        height: auto;
        background-color: #3a474f;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
    }
    
    .result {
        color: #ccd2d6;
        font-size: 30px;
        text-align: right;
        width: auto;
        word-wrap: break-word;
    }
    
    .display {
        height: auto;
        width: auto;
        background-color: #3f4e55;
        margin-top: 15px;
        padding: 2vh;
        min-height: 8vh;
    }
    
    .keyBoard {
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
    }
    
    table tr td button {
        width: 60px;
        height: 60px;
        background: #3f4e55;
        color: #ccd2d6;
        border-style: none;
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
        border-radius: 3px;
        margin: 2px;
    }

}